# .env.example
# Configuración de Seguridad
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=

# GlitchTip
SENTRY_ENVIRONMENT=development

SENTRY_DSN_FRONTEND=
SENTRY_DSN_BFF=
SENTRY_DSN_AUTH=
SENTRY_DSN_PROFILE=
SENTRY_DSN_DONATION=
SENTRY_DSN_INVENTORY=
SENTRY_DSN_LOGISTIC=